div {
	height: 110%;
	width: 50%;
	border-radius: 2px;
	/*Add your CSS here!*/
	display:block;
	margin:0 auto;
	background-color: #00064C;
	font-family: 'Helvetica' sans-serif;
	color: #ffffff;
}
div#prison {
	background-color: #BD7000;

}
body {
	color: #00064C;
}

a {
	display: block;
}
a:link{

}

t r b l
tb rl
t rl b
margin-right: ;