div {
	
	/*border-radius: 10px;*/
	/*Add your CSS here!*/
	display:block;
	margin:0 auto;
	background-color: #22497D;
	font-family: 'Futura' sans-serif;
	color: #ffffff;
	padding: 20px 30px;
}
div.full {
	height: 50%;
	width: 50%;
}
div.half {
	height: 50%;
	width: 50%;
	display:block;
}
div#hold {
	background-color: #A8BDDA;
	display: block;
}
div#prison {
	background-color: #A73A2D;
}
div#break {
	background-color: C0B44B;
	color:;
}
span {
	background-color: B00000;
	height: 100%;
	width: 100%;
}
body {
	background-color: #A8BDDA;
}

h1 {
	text-align: center;
	/*font-family: 'Arial Black';*/
	letter-spacing: -3px;
	font-size: 40px;
	color: #A8BDDA;
}
h2 {
	text-align: center;
/*	font-family: 'Garamond';*/
	letter-spacing: 2px;
	color: #A8BDDA;
}
h3 {
	text-align: left;
	letter-spacing: -1px;
	color: #A8BDDA;
}

a {
	color: #ffffff;
}
a:link{

}

t r b l
tb rl
t rl b
margin-right: ;