body {
	font-family: 'Futura';
	color: #ffffff;
}

div {
	/*border-radius: 10px;*/
	/*Add your CSS here!*/
	font-family: 'Futura' sans-serif;
	color: #ffffff;
	border-radius: 10px;
}
.full {
	margin:0 auto;
	width: 600px;
	background-color: #22497D;
	padding: 10px 0px;
	border-radius: 10px
}
.half {
	margin:0 auto;
	width: 40%;
	display:block;
		background-color: #22497D;

}
div#hold {
	background-color: #A8BDDA;
	display: block;
}
div#prison {
	background-color: #A73A2D;
	vertical-align: middle;
	padding: 10px;
	margin: 25px 20px 20px 0px;
}
div#break {
	background-color: C0B44B;
	colo r: blue;
}
div#resume {
	background-color: #2B7174;
	padding: 10px;
	margin: 25px 0px 20px 20px;
}

table {
	margin: 0 auto;
	width: 600px;
}
.mySquare {
	width: 200;
	height: 200;
	vertical-align: top;
}

.sqleft {
	/*margin-top: 2%;
	margin-right: 2.5%;*/
	margin: 15px 25px 0 auto;
	width: 250px;
	height: 250px;
	display: inline-block;
	padding: 0 0;
	background-color: #A73A2D;
	float: left;
	vertical-align: middle;

}

.sqright {
/*	margin-top: 2%;
	margin-left: 2.5%;*/
	margin: 15px auto 0 25px;
	width: 250px;
	height: 250px;
	display: inline-block;
	padding: 0 0;
	background-color: #2B7174;
	text-align: center;
	vertical-align: middle;
	float: right;
}
.text {
	vertical-align: middle;
}

span {
	background-color: B00000;
	height: 100%;
	width: 100%;
}
body {
	background-color: #A8BDDA;
}

h1 {
	text-align: center;
	/*font-family: 'Arial Black';*/
	letter-spacing: -3px;
	font-size: 40px;
	color: #A8BDDA;
	display: inline;
}

p {
	padding: 5px 10px;
}
h2 {
	text-align: center;
/*	font-family: 'Garamond';*/
	letter-spacing: 2px;
	color: #A8BDDA;
}
h3 {
	text-align: left;
	letter-spacing: -1px;
	color: #A8BDDA;
}

a {
	color: #ffffff;
}
a:link{

}

img {
	border-radius: 100%;
	margin: 0 auto;
	display: inline-block;
	padding: 0 10px;
}

img#me {
	padding: 0 0 0 10px;
}
